# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
debug.log
error.log
*.log.*

# Database and cache
*.sqlite
*.sqlite-journal
dump.rdb

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.swp

# Build files
dist/
build/

# Dependency directories
coverage/
